
.template-dialog .modal-outer.popup-filter {
	width: 945px;
	height: 600px;
	min-width: 600px;
	min-height: 600px;
}

.filter-cont {
	width: 100%;
	height: 100%;
}
.filter-cont .head {
	display: none;
	height: 15%;
	width: 100%;
	border-bottom: 2px solid #619fd1;
}
.filter-cont .left_path {
	width: 270px;
	height: 100%;
	float: left;
	border-right: 2px solid #ebeaea;
	box-sizing: border-box;
}
.filter-cont .right_path {
	height: 100%;
	width: 70%;
	float: right;
	overflow-y: auto;
}
.left_path .elem_form {
	width: 100%;
	height: 100%;
}
.elem_form .filter {
	width: 100%;
	height: 100%;
}



.filter .elem_int {
	position: relative;
	width: 70%;
	height: 30px;
	margin: 10px auto;
}

.filter .cont_filter {
	padding: 0 24px;
}
.filter .cont_filter .item-flt input{
	display: block;
	max-width: 100%;
}

.filter .item-tlt {
	font-size: 15px;
	padding: 30px 0 10px;
	color: #0A63AE;
	text-align: center;
}

.filter .layer_range {
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 40%;
	margin-left: -6px;
}
.filter .layer_range .cont_layer_range {
	position: relative;
	width: 100%;
	height: 100%;
	background: #0A63AE;
}
.filter .layer_range .cont_layer_range .from,
.filter .layer_range .cont_layer_range .to{
	position: absolute;
	width: 15px;
	height: 10px;
	top: -15px;
	border: 1px solid gray;
}
.filter .layer_range .cont_layer_range .from{
	left: 0;
	margin-left: -10px;
}
.filter .layer_range .cont_layer_range .to{
	right: 0;
	margin-right: -10px;
}
.filter .elem_label {
	position: relative;
	width: 100%;
	height: 100%;
}
.filter .cont_elem_label {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 1px;
	left: 0;
	right: 0;
	margin: auto;
	background: gray;
}
.cont_itm_lbl {
	height: 12px;
	float: left;
	margin-top: -5px;
	position: relative;
}

.cont_itm_lbl .num_floor {
	position: absolute;
	width: 10px;
	margin-left: -5px;
	text-align: center;
}
.filter .cont_elem_label .item {
	width: 1px;
	margin-left: -1px;
	border: none;
	background: gray;
	height: 12px;
} 
.filter .cont_elem_label .item.selected {
	width: 1px;
	margin-left: -1px;
	border: none;
	background: gray;
	height: 12px;
}

.filter-tool-itel {
	margin: 4px;
	padding: 8px;
	border: 1px solid #e6e6e6;
	width: 28px; 
	height: 28px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	position: relative;
	line-height: 35px;
}
.filter-tool-itel.any {
	padding: 5px;
	width: 33px;
	height: 33px;
	text-align: center;
}

.filter-tool-itel svg {
	width: 100%;
	height: 100%;
}
.filter-tool-itel.active {
	background-color: #4E93CE;
	color: white;
	border: 1px solid #888;
}
.filter-tool-itel.active svg {
	fill: white;
}


.s_range{
	position: relative;
    height: 2px;
    width: 70%;
    margin: 10px auto;
    background: gray;
}
.s_range:before{
	position: absolute;
}


.left_path .cont_btn {
	width: 100%;
	height: 90px;	
	position: relative;
}
.left_path .cont_btn .btn_search {
	width: 60%;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: #0A63AE;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
	border: none;
}
.filter-cont .right_path .cont_res {
	padding: 18px;
}
.filter-cont .right_path .item-house {
	float: left;
	margin: 12px;
	width: 128px;
	height: 180px;
}
.item-house {
	margin: 20px;
}
.item-house.hide {
	display: none !important;
}
.item-house .cont-img {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	background-color: #f7f7f7;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin: 10px 3px;
}
.item-house .cont-img:hover {
	background-color: #fdfdfd;
}
.item-house .cont-img img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.item-house .cont-title {
	padding: 0 10px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
}
.parent-range {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 5
}
.parent-range .child-range {
	position: absolute;
	height: 100%;
	background: #0A63AE;
}
.parent-range .child-range .cont-child-range {
	position: relative;
	width: 100%;
	height: 100%;
}
.parent-range .first-range,
.parent-range .second-range {
	position: absolute;
	top: 0;
	margin-top: -4px;
	width: 10px;
	height: 10px;
	border:1px solid gray;
}
.item-flt .range {
	width: 80%;
	height: 4px;
	margin: 13px auto;
	position: relative;
}
.parent-range .first-range,
.parent-range .second-range {
	border-radius: 50%;
	background: #fff;
	margin-left: -6px;
}
.parent-range .cont_range_text {
	position: relative;	
	width: 100%;
	height: 100%;
}
.parent-range .first-range .val, 
.parent-range .second-range .val {
	position: absolute;
	width: 24px;
	top: -12px;
	left: 50%;
	margin-left: -12px;
	text-align: center;
}

.val_range {
	position: absolute;
	height: 2px;
	width: 100%;
	top: 1px;
	background: gray;
	z-index: 0;
}
.val_range .cont_val_range {
	position: relative;
	width: 100%;
	height: 100%;
}
.val_range .cont_val_range:before,
.val_range .cont_val_range:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 8px;
	top: -3px;
	background: gray;
}
.val_range .cont_val_range:before {
	left: 0;
}
.val_range .cont_val_range:after {
	right: 0;
}
.val_range .cont_val_range .val {
	position: absolute;
	width: 24px;
	height: 12px;
	top: 12px;
	margin-top: -5px;
	text-align: center;
}
.val_range .cont_val_range .val.min_val{
	left: 0;
	margin-left: 0px;
	text-align: left;
}
.val_range .cont_val_range .val.max_val{
	right: 0;
	text-align: right;
}


@media screen and (max-width: 1000px) {
	.filter-cont .right_path .item-house {
		width: 115px;
	}
	.item-house .cont-img {
		width: 90px;
		height: 90px;
		margin: 10px;
	}
	.item-house .cont-title {
		font-size: 11px;
	}
	.filter .item-tlt {
		font-size: 16px;
	}
	.filter-tool-itel {
		width: 20px;
		height: 20px;
		padding: 7px;
	}
	.filter-tool-itel.any {
		width: 24px;
		height: 24px;
		font-size: 8px;
		line-height: 24px;
	}
}

@media screen and (max-width: 1000px) and (max-height: 780px) and (orientation: landscape) {
	.filter-cont .right_path .cont_res {
		padding: 10px;
	}
	.filter .item-tlt {
		padding: 10px;
	}
}
