body {
	background-color: white;
}

.plumber {
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 100%;
}

.sidebar {
	position: absolute;
	left: 80%;
	top: 0;
	width: 20%;
	height: 100%;
}
