.marker-system {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	pointer-events: none;
}



.marker {
	position: absolute;
	z-index: 2;
}
.marker-content {
	//position: absolute;
	padding: 0 10px;

	background-color: white;
	color: black;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);

	pointer-events: auto;
}
.marker-arrow {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
}
.marker-arrow-line {
	width: 0;
	height: 0;
	position: absolute;
	background-color: white;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.marker-group {
	line-height: 56px;
	font-family: Arial, sans-serif;
	font-size: 48px;
}
.marker-info {
	display: none;
	line-height: 30px;
	font-family: monospace;
	font-size: 14px;
}
.marker-system.debug .marker-group {
	display: none;
}
.marker-system.debug .marker-info {
	display: block;
}


.marker .marker-content,
.marker .marker-arrow-line {
	transition-property: background-color, opacity;
}

.marker.connected .marker-content,
.marker.connected .marker-arrow-line {
	background-color: rgba(37, 37, 37, 0.37);
	color: white;
}
.marker.connected.master .marker-content,
.marker.connected.master .marker-arrow-line {
	background-color: #333;
	color: white;
}

.marker:hover {
	z-index: 10000 !important;
}
.marker:hover .marker-content,
.marker:hover .marker-arrow-line {
	background-color: yellow;
}

.marker.selected .marker-content,
.marker.selected .marker-arrow-line {
	background-color: lime;
}

.marker.inactive .marker-content,
.marker.inactive .marker-arrow-line {
	opacity: 0.3;
	pointer-events: none;
}
