.plumber {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 10px;
}

/*
.hand:hover {
	background-color: #aaa;
}
*/

.ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui .viewport {
	position: absolute;
	left: 0;
	top: 90px;
	width: 100%;
	bottom: 20px;
	background-color: #d9d9d9;
}


.canvas-main {
	position: absolute;
	left: 0;
	top: 0;
}


body .dg.ac {
}
body .dg.main {
	position: absolute;
	right: 0;
	margin: auto;
	z-index: 2;
	overflow: visible;
}
body .dg .close-button {
	display: none;
}
body .dg .c {
	width: 75%;
}
body .dg .property-name {
	width: 25%;
}


.plumber .button-explode {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: white;
	fill: #9ba9b2;
	border: 4px solid #9ba9b2;
	border-radius: 50%;
}
.plumber .button-explode svg {
	width: 32px;
	height: 32px;
}
.plumber .button-explode:hover {
	border-color: #546f7a;
	fill: #546f7a;
}
.plumber .button-explode.active {
	background-color: #546f7a;
	border-color: white;
	fill: white;
}


.view-3 {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 0;
}
.view-3 canvas {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

.view-3.hover {
	cursor: crosshair;
}
.view-3.drag {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:     -ms-grab;
	cursor:      -o-grab;
	cursor:         grab;
}
.view-3.down {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:     -ms-grabbing;
	cursor:      -o-grabbing;
	cursor:         grabbing;
}

.view-3.first-person:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 5px;
	height: 5px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 1.0);
	//background-color: rgba(255, 255, 255, 0.8);
	//background-clip: content-box;
}



.tip {
	position: absolute;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.tip-content {
	background-color: white;
}
.tip-arrow {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	margin-top: -10px;
	margin-left: -10px;
	width: 16px;
	height: 16px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: white;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);

	z-index: -1;
}



.submenu {
}
.submenu-item {
	// float: left;

	width: 250px;
	height: 42px;
	//margin: 4px 0 0 4px;
}
.submenu-item:hover {
	background-color: #eee;
}
.submenu-item.active {
	background-color: #eee;
}
.submenu-item svg {
	width: 100%;
	height: 100%;

	fill: #333;
}
.submenu-item.active svg {
	fill: #0a63ae;
}


.view-clear {
	position: absolute;
	top: 21px;
	right: 24px;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	fill: #537078;
}
.view-clear svg {
	width: 26px;
	height: 26px;
}
.view-clear:hover {
	background-color: #537078;
	fill: white;
}




.split-view-message {
	position: absolute;
	padding: 8px 12px;
	font: 14px Arial, sans-serif;
	color: #537078;
	background-color: #ebeff2;
	border: 1px solid #537078;
	border-radius: 2px;
	z-index: 4;
}


.empty-view-message {
	background-color: #ebeff2;
	z-index: 5;
}
.empty-view-message.hidden {
	opacity: 0;
	visibility: hidden;
}
.empty-view-message-center {
	width: 500px;
	height: 280px;
	border: 1px solid #d0d8db;
}
.empty-view-message-frame {
	width: 468px;
	height: 248px;
	border: 1px dashed #abafb2;
}
.empty-view-message-text {
	width: 260px;
	height: 132px;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	color: #537078;
}



.prompt {
	z-index: 4;
}
.prompt .tip-content {
	padding: 12px;
	text-align: center;
}
.prompt-text {
	text-align: center;
	margin: 8px 8px 18px;
	font-size: 14px;
}
.prompt-button {
	display: inline-block;
	text-align: center;
	min-width: 32px;
	padding: 8px 14px 8px 14px;
	margin: 4px;
	font-size: 14px;
	background-color: #296fd6;
	border-left: 3px solid #102e84;
	color: #fff;
}
.prompt-button:hover {
	background-color: #083f84;
	border-left-color: #000;
}



.view-preloader-box {
	width: 130px;
	height: 25px;
	border: 1px solid #546f7a;
	pointer-events: none;
	padding: 0 1px 1px 0;
}
.view-preloader-box.hidden {
	visibility: hidden;
	opacity: 0;
}
.view-preloader-block {
	display: inline-block;
	width: 12px;
	height: 24px;
	background-color: #546f7a;
	margin: 1px 0 0 1px;
}
