.sidebar {
	position: absolute;
	background-color: #546f7a;
}

.sample-menu {
	margin: 20px;
	border-radius: 2px;
	overflow: hidden;
}

.sample-item {
	position: relative;
	height: 156px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #4e6e7b;
	border-bottom: 1px solid #eee;
	background-color: white;
	white-space: nowrap;
}
.sample-item:last-child {
	border-bottom: none;
}
.sample-item:hover {
	background-color: #ebeff2;
}
.sample-item.active {
	background-color: #cfd8dd;
}

.sample-name {
	position: absolute;
	width: 100%;
	height: 18px;
	bottom: 18px;
}

.sample-remove {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	fill: #537078;
}
.sample-remove svg {
	width: 10px;
	height: 10px;
}
.sample-remove:hover {
	background-color: #537078;
	fill: white;
}

.sample-thumb {
	height: 75%;
}



.file-import {
	position: relative;
	margin: 20px 20px 0;
	height: 62px;
	background-color: white;
	border-radius: 2px;
}
.file-import svg {
	width: 40px;
	height: 40px;
	margin: auto;
	fill: #537078;
}
.file-import:hover {
	background-color: #ebeff2;
}
