.sidebar {
	position: absolute;
	background-color: #546f7a;
}


.mode-menu {
	position: relative;
	margin: 20px 20px 0;
	border-radius: 2px 2px 0 0;
	overflow: hidden;
}
.mode-item {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	padding: 14px 0;
	font-size: 14px;
	text-align: center;
	color: white;
	background-color: #34a592;
	box-sizing: border-box;
}
.mode-item:hover {
	background-color: #47c3ae;
}
.mode-item.active {
	color: #546f7a;
	background-color: white;
}

.sample-menu {
	margin: 0 20px 20px;
	border-radius: 0 0 2px 2px;
	overflow: hidden;
}

.sample-item {
	position: relative;
	height: 44px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #4e6e7b;
	border-bottom: 1px solid #eee;
	background-color: white;
	white-space: nowrap;
}
.sample-item.thumbed {
	height: 156px;
}
.sample-item:last-child {
	border-bottom: none;
}
.sample-item:hover {
	background-color: #ebeff2;
}
.sample-item.active {
	background-color: #cfd8dd;
}

.sample-name {
	position: absolute;
	width: 100%;
	bottom: 14px;
}
.thumbed .sample-name {
	bottom: 14px;
}

.sample-remove {
	position: absolute;
	top: 10px;
	right: 8px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	fill: #537078;
}
.sample-remove svg {
	width: 10px;
	height: 10px;
}
.sample-remove:hover {
	background-color: #537078;
	fill: white;
}

.sample-thumb {
	height: 75%;
}



.file-import {
	position: relative;
	margin: 20px 20px 0;
	height: 62px;
	background-color: white;
	border-radius: 2px;
}
.file-import svg {
	width: 40px;
	height: 40px;
	margin: auto;
	fill: #537078;
}
.file-import:hover {
	background-color: #ebeff2;
}
