body {
	background-color: white;
}

/*
.hand:hover {
	background-color: #aaa;
}
*/

.ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui .viewport {
	position: absolute;
	left: 0;
	top: 90px;
	width: 100%;
	bottom: 20px;
	background-color: #d9d9d9;
}


.canvas-main {
	position: absolute;
	left: 0;
	top: 0;
}


body .dg.ac {
}
body .dg.main {
	position: absolute;
	right: 0;
	margin: auto;
	z-index: 2;
	overflow: visible;
}
body .dg .close-button {
	display: none;
}


.view-2,
.view-3,
.view-calc {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 0;
}
.view-2 canvas,
.view-3 canvas {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

.view-2.hover,
.view-3.hover {
	cursor: crosshair;
}
.view-2.drag,
.view-3.drag {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:     -ms-grab;
	cursor:      -o-grab;
	cursor:         grab;
}
.view-2.down,
.view-3.down {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:     -ms-grabbing;
	cursor:      -o-grabbing;
	cursor:         grabbing;
}

.view-3.first-person:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 5px;
	height: 5px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 1.0);
	//background-color: rgba(255, 255, 255, 0.8);
	//background-clip: content-box;
}



.tip {
	position: absolute;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.tip-content {
	background-color: white;
}
.tip-arrow {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: white;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);

	z-index: -1;
}



.submenu {
}
.submenu-item {
	// float: left;

	width: 250px;
	height: 42px;
	//margin: 4px 0 0 4px;
}
.submenu-item:hover {
	background-color: #eee;
}
.submenu-item.active {
	background-color: #eee;
}
.submenu-item svg {
	width: 100%;
	height: 100%;

	fill: #333;
}
.submenu-item.active svg {
	fill: #0a63ae;
}


.sample {
	width: 192px;
	height: 42px;
	bottom: auto;
	border-bottom: 1px solid black;
}
.sample:hover {
	background-color: #eee;
}
.sample svg {
	width: 100%;
	height: 100%;
	fill: #d821ef;
}


.file-import {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 20px;
	width: 80%;
	height: 42px;
	border: 1px solid black;
}
.file-import svg {
	width: 95%;
	height: 95%;
}
.file-import:hover {
	background-color: #eee;
}

.view-clear {
	position: absolute;
	top: 14px;
	right: 24px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}
.view-clear svg {
	width: 26px;
	height: 26px;
}
.view-clear:hover {
	background-color: #ccc;
}


.samples-list {
	position: absolute;
	background-color: white;
}

.sample-menu {
	margin-top: 80px;
}

.sample-item {
	position: relative;
	height: 42px;
	line-height: 42px;
	font-size: 12px;
	font-family: monospace;
	text-align: center;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
.sample-item:hover {
	background-color: #eee;
}
.sample-item.active {
	background-color: #bbb;
}

.sample-remove {
	left: auto;
	right: 8px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid transparent;
}
.sample-remove:hover {
	//background-color: #ccc;
	border-color: black;
}
.sample-remove svg {
	width: 10px;
	height: 10px;
}
