.ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui .viewport {
	position: absolute;
	left: 0;
	top: 90px;
	width: 100%;
	bottom: 20px;
	background-color: #d9d9d9;
}


.ui .menu.header {
	display: table;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 90px;
	background-color: #619fd1;
}

.ui .menu.header .head-menu-cell {
	display: table-cell;
	height: 100%;
}

.ui .menu.header .filler-in {
	width: 20px;
	min-width: 4px;
}
.ui .menu.header .filler-last {
	width: 500px;
}

.ui .logo {
	width: 300px;
	min-width: 220px;
	height: 100%;
	border-bottom: 2px solid #619fd1;
	box-sizing: border-box;

	background-color: white;
	background-size: 166px 57px;
	background-position: 50px 44%;
	background-repeat: no-repeat;
}

.ui .watermark {
	display: block;

	position: absolute;
	left: 18px;
	bottom: 4px;
	width: 128px;
	height: 64px;
	overflow: hidden;
	z-index: 1;
}
.ui .watermark svg {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -64px;
	width: 128px;
	height: 128px;
	fill: rgba(255, 255, 255, 0.7);
}


.dg.main {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}
.dg .close-button {
	display: none;
}


.view-2d,
.view-3d,
.view-calc {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 0;
}
.view-2d canvas,
.view-3d canvas {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}
.view-calc canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.view-2d.hover,
.view-3d.hover {
	cursor: crosshair;
}
.view-2d.drag,
.view-3d.drag {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:     -ms-grab;
	cursor:      -o-grab;
	cursor:         grab;
}
.view-2d.down {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:     -ms-grabbing;
	cursor:      -o-grabbing;
	cursor:         grabbing;
}
.view-2d .graphics {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.view-2d .scrollfield {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 1;
}
.view-2d .scrollfield:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.view-2d .scrollfield.left {
	right: auto;
	height: auto;
}
.view-2d .scrollfield.right {
	left: auto;
	height: auto;
}
.view-2d .scrollfield.top {
	bottom: auto;
	width: auto;
}
.view-2d .scrollfield.bottom {
	top: auto;
	width: auto;
}



.helpers-2d.transparent {
	pointer-events: none;
}
.h2d {
	position: absolute;
}

.h2d-number {
}
.h2d-number input,
.h2d-number .label {
	position: absolute;
	height: 12px;
	line-height: 12px;
	margin-top: -6px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	border: none;
}
.h2d-number input {
	color: #333;
	background-color: transparent;
	pointer-events: none;
}
.h2d-number.active input {
	color: white;
	background-color: #444;
	pointer-events: all;
}
.h2d-number.active input:hover {
	background-color: #517DA8;
}
.h2d-number .label {
	visibility: hidden;
	padding: 0 4px;
}

.h2d-action.wall-split {
	width: 8px;
	height: 8px;
	margin-left: -5px;
	margin-top: -5px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: black;
	background-clip: content-box;
}
.h2d-action.wall-split:hover {
	background-color: white;
	border-color: black;
}

.h2d-contour {

}
.h2d-contour .label {
	position: absolute;
	top: -30px;
	width: 70px;
	height: 20px;
	margin-left: -35px;
	text-align: center;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

.h2d-contour .action {
	position: absolute;
	width: 22px;
	height: 22px;
	margin-left: -11px;
	margin-top: -11px;
	background-color: black;
}
.h2d-contour .action svg {
	width: 14px;
	height: 14px;
	padding: 4px;
	fill: white;
}
.h2d-contour .action.rotate {
	left: -24px;
	top: 0;
}
.h2d-contour .action.move {
	left: 0;
	top: 0;
}
.h2d-contour .action.remove {
	left: 24px;
	top: 0;
}

.h2d-contour .action:hover {
	background-color: skyblue;
}
.h2d-contour .action:hover svg {
	fill: black;
}


.view-3d .message {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 600px;
	height: 130px;
	background-color: #eaeaea;
	border: 3px solid #909090;
	border-radius: 8px;
}
.view-3d .message-image {
	float: left;
	width: 90px;
	height: 80px;
	margin: 25px;
	margin-right: 22px;
}
.view-3d .message-image svg {
	width: 100%;
	height: 100%;
	fill: #0a5fa7;
}
.view-3d .message-text {
	font-size: 2.2em;
	line-height: 130px;
}
.view-3d.first-person:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 5px;
	height: 5px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 1.0);
	//background-color: rgba(255, 255, 255, 0.8);
	//background-clip: content-box;
}


.tip {
	position: absolute;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.tip-content {
	background-color: white;
}
.tip-arrow {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: white;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);

	z-index: -1;
}



.submenu {
}
.submenu-item {
	float: left;

	width: 70px;
	height: 70px;
	margin: 4px 0 0 4px;
}
.submenu-item:hover {
	background-color: #eee;
}
.submenu-item.active {
	background-color: #eee;
}
.submenu-item svg {
	width: 100%;
	height: 100%;

	fill: #333;
}
.submenu-item.active svg {
	fill: #0a63ae;
}




.mode-menu {
	display: table;
	height: 100%;
}
.mode-menu-item {
	position: relative;
	width: 115px;
	min-width: 100px;
	height: 100%;
	text-align: center;
	vertical-align: bottom;
	border-left: 1px solid white;
	font-size: 1.5em;
	line-height: 2.6;

	color: #7a7979;
	background-color: #ebeaea;
	white-space: nowrap;
}
.mode-menu-item:hover {
	background-color: #f9f9f9;
}
.mode-menu-item:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #619fd1;
}
.mode-menu-item:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -9px;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-top: none;
}
.mode-menu-item,
.mode-menu-item:before,
.mode-menu-item:after {
	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
	    -ms-transition: all 200ms ease-in-out;
	     -o-transition: all 200ms ease-in-out;
	        transition: all 200ms ease-in-out;
}

.mode-menu-item svg {
	position: absolute;
	left: 50%;
	top: 6px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #0A63AE;
	fill: white;
}

.mode-menu-item.active {
	color: #0a0a0a;
	background-color: white;
	border-color: #ebeaea;
	cursor: default;
}
.mode-menu-item.active:before {
	bottom: -1px;
	height: 5px;
	background-color: #aaa;
}
.mode-menu-item.active:after {
	border-bottom-color: #aaa;
}
.mode-menu-item.disabled {
	cursor: default;
}
.mode-menu-item.disabled svg {
	background-color: #555555;
}
.mode-menu-item.disabled:hover {
	background-color: #ebeaea;
}



.head-menu-mobile-toggle {
	// display: none;
	position: absolute;
	right: auto;
	width: 64px;
}
.touch .head-menu-mobile-toggle {
	display: block;
}
.head-menu-mobile-toggle svg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	fill: #0a63ae;
}

.hist-menu-item {
	position: relative;
	width: 80px;
	min-width: 70px;
	height: 100%;
	color: white;
	text-align: center;
	font-size: 1.4em;
	line-height: 2.6;
	vertical-align: bottom;
}
.hist-menu-item:hover {
	background-color: rgba(0,0,0,0.2);
}
.hist-menu-item.active {
	background-color: rgba(0,0,0,0.5);
}
.hist-menu-item.inactive {
	color: #3C6E96;
	background-color: transparent;
	cursor: default;
}
.hist-menu-item svg {
	position: absolute;
	left: 0;
	top: 16px;
	right: 0;
	margin: auto;
	width: 36px;
	height: 36px;
	fill: white;
}
.hist-menu-item.inactive svg {
	fill: #4780AD;
}

.tpl-menu {
}
.tpl-menu-item {
	position: relative;
	width: 250px;
	height: 64px;
	float: none;
	color: #444;
	margin: 0;
}
.tpl-menu-item.active {
	color: black;
}
.tpl-menu-item .block-label {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	height: 64px;
	line-height: 64px;
	font-size: 1.3em;
	padding: 0 20px;
	box-sizing: border-box;
}
.tpl-menu-item svg {
	position: absolute;
	top: 50%;
	left: 40px;

	fill: #619FD1;

	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
}
.tpl-menu-item:hover svg {
	fill: #34668e;
}
.tpl-menu-item.filter svg {
	width: 58px;
	height: 58px;
	margin-left: -29px;
	margin-top: -29px;
}
.tpl-menu-item.save svg {
	width: 58px;
	height: 58px;
	margin-left: -29px;
	margin-top: -29px;
}
.tpl-menu-item.load svg {
	width: 56px;
	height: 56px;
	margin-left: -28px;
	margin-top: -28px;
}
.tpl-menu-item.video svg {
	width: 54px;
	height: 54px;
	margin-top: -27px;
	margin-left: -22px;
}
.tpl-menu-item.guide svg {
	width: 54px;
	height: 54px;
	margin-top: -27px;
	margin-left: -22px;
}


.template-dialog .dialog-outer {
	width: 1024px;
	height: 768px;
}



.view-menu {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 0 5px 5px;
	background-color: white;
	z-index: 1;
}
.view-menu-item {
	width: 50px;
	height: 50px;
	float: left;
	border-right: 1px solid #c6c6c6;
}
.view-menu-item svg {
	width: 34px;
	height: 34px;
	padding: 8px;
	fill: #ccc;
}
.view-menu-item.active svg {
	fill: #0A63AE;
}


.lang-menu {
	right: 4px;
	top: 0;
	bottom: 0;
	margin: auto;

	width: 120px;
	height: 20px;

	vertical-align: middle;
	white-space: nowrap;
}
.lang-menu:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid white;
}
.lang-menu.active:after {
	border-top: none;
	border-bottom: 6px solid white;
}
.lang-menu .image,
.lang-submenu-item .image {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 20px;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.lang-menu .text,
.lang-submenu-item .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
.lang-submenu-item {
	float: none;
	width: 80px;
	height: 34px;
	line-height: 30px;
	text-align: center;
	margin: 0;
}
.lang-menu-item.active {
	background-color: skyblue;
}
.lang-submenu-item .image {
}
.lang-submenu-item .text {
	color: #7d7777;
	font-size: 1.4em;
}




.options-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	margin: auto;
	z-index: 1;
}
.options-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 8px 0;
	background-color: white;
	border-radius: 6px 6px 0 0;
	white-space: nowrap;
}
.option .label,
.option .field,
.option {
	display: inline-block;
	vertical-align: middle;
}
.option {
	margin: 0 12px;
}
.option .label {
	padding-right: 6px;
	white-space: pre;
	text-align: right;
}
.option .overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	background-color: #ebeaea;
}
.option .field:hover .overlay {
	background-color: #5A91D8;
}
.option svg {
	fill: black;
}
.option .field:hover svg {
	fill: white;
}
.option.node-label {
	height: 20px;
	line-height: 22px;
	padding-right: 10px;
	border-right: 1px solid #333;
}

.option-number .label {
	cursor: col-resize;
}
.option-number .field {
	width: 42px;
	padding: 1px 4px;
}
.option-boolean .field {
	position: relative;
	width: 12px;
	height: 12px;
	padding: 2px;
	border: 1px solid #888;
	background-clip: content-box;
	background-color: white;
}
.option-boolean .field.active {
	background-color: #444;
}
.option-sample .field {
	position: relative;
	width: 22px;
	height: 22px;
	margin-left: 6px;
}
.option-sample svg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	width: 32px;
	height: 32px;
}
.option-sample .field .overlay.active {
	background-color: #ebeaea;
	background-color: #5A91D8;
}
.option-sample .field .overlay.active svg {
	fill: #0a63ae;
	fill: white;
}
.option-action .field {
	position: relative;
	width: 22px;
	height: 22px;
	margin-left: 6px;
}
.option-action svg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 18px;
	height: 18px;
}
.option.disabled {
	color: #777;
	cursor: default;
	pointer-events: none;
}




.tool-menu {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 76px;
	overflow: hidden;
	background-color: white;
	z-index: 1;
}
.tool-menu-item {
	position: relative;
	float: left;
	width: 76px;
	height: 76px;
	padding: 3px;
	border: 1px solid white;
	border-top-color: #dadada;
	border-left-color: #dadada;
	text-align: center;
	box-sizing: border-box;

	color: #555;
	background-clip: content-box;
	background-color: white;
}
.tool-menu-item:nth-child(1),
.cols-2 .tool-menu-item:nth-child(2),
.cols-3 .tool-menu-item:nth-child(2),
.cols-3 .tool-menu-item:nth-child(3) {
	border-top-color: white;
}
.tool-menu-item svg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px;

	fill: #444;
}
.tool-menu-item:hover {
	background-color: #eee;
	//border-color: #0a63ae;
}
.tool-menu-item.active {
	color: #0a63ae;
	background-color: #eee;
	border-color: #eee;
}
.tool-menu-item.active svg {
	fill: #0a63ae;
}
.tool-menu-item.disabled {
	cursor: default;
	color: #aaa;
	background-color: white;
}
.tool-menu-item.disabled:hover {
	//border-color: #999;
}
.tool-menu-item.disabled svg {
	fill: #aaa;
}
.tool-menu-item.labeled {
	height: 80px;
}
.tool-menu-item.labeled svg {
	bottom: 16px;
}
.tool-menu-item .block-label {
	position: absolute;
	left: -1px;
	bottom: 4px;
	width: 100%;
	height: 20px;
	line-height: 22px;
	font-size: 1.1em;
}
.tool-menu-label {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 1.5em;
	background-color: #0a63ae;
	color: white;
	text-align: center;
	border-radius: 0 7px 0 0;
}
.tool-menu-label.disabled {
	background-color: #555;
}



.door-tool-menu-item {
	position: relative;
}
.door-tool-menu-item svg {
	width: 72px;
	height: 72px;
}
.door-tool-menu-item .samples {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.door-tool-menu-item .samples:after {
	content: "";
	position: absolute;
	right: 3px;
	bottom: 3px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: rgba(10, 99, 174, 0.5);
	border-bottom-color: rgba(10, 99, 174, 0.5);
}
.door-tool-menu-item .samples.active:after {
	border-right-color: rgba(10, 99, 174, 0.8);
	border-bottom-color: rgba(10, 99, 174, 0.8);
}
.door-tool-submenu {

}



.ui .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #0a63ae;
	line-height: 20px;
	font-size: 1.2em;
	color: white;
}
.ui .footer a {
	color: white;
	text-decoration: none;
}
.ui .footer a:hover {
	color: white;
	text-decoration: underline;
}
.ui .footer .agreement {
	float: left;
	padding: 0 14px;
}
.ui .footer .copyright {
	float: right;
	padding: 0 14px;
}


.floor-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
}
.floor-menu .wrap {
	background-color: white;
	border-radius: 6px 0 0 6px;
	padding: 1px 0;
}
.floor-menu-item {
	position: relative;
	width: 54px;
	height: 54px;
	line-height: 54px;
	font-size: 3.8em;
	font-weight: bold;
	text-align: center;
	margin: 10px 38px 10px 12px;
	border: 1px solid #0a63ae;
	border-radius: 2px;
	background-color: #d9d9d9;
	color: #0a63ae;
}
.floor-menu-item:hover {
	//background-color: #B8D2F3;
}
.floor-menu-item > svg {
	display: none;
}
.floor-menu-item.active {
	background-color: #0a63ae;
	color: white;
}
.floor-menu-item.roof {
	color: transparent;
}
.floor-menu-item.roof > svg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 48px;
	height: 48px;
	fill: #0a63ae;
}
.floor-menu-item.roof.active > svg {
	fill: white;
}


.floor-menu-item .action {
	position: absolute;
	right: -32px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: 1.4em;
	text-align: center;

	border-radius: 2px;
	color: #888;
	background-color: #ddd;
}
.floor-menu-item .action svg {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	pointer-events: none;
	fill: #0A63AE;
}
.floor-menu-item .action:hover {
	background-color: #5A91D8;
	color: white;
}
.floor-menu-item .action:hover svg {
	fill: white;
}
.floor-menu-item .action.active {
	background-color: #0a63ae;
}
.floor-menu-item .action.active svg {
	fill: white;
}
.floor-menu-item .action.disabled {
	background-color: #ddd;
	cursor: default;
}
.floor-menu-item .action.disabled svg {
	fill: #999;
}

.floor-menu-item .remove {
	top: -1px;
}
.floor-menu-item .visible {
	bottom: -1px;
}


.material-submenu {
	margin-left: 16px;
}
.material-submenu-item {
	position: relative;
}
.material-submenu-item .thumb {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 54px;
	height: 54px;
	border: 1px solid #ccc;
}





.material-window {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	height: 150px;
}
.mat-head {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 240px;
	height: 100%;
	background-color: #f2f2f2;
}
.mat-list {
	position: absolute;
	left: 240px;
	bottom: 0;
	right: 0;
	height: 100%;
	background-color: white;
	overflow: hidden;
}

.mat-list .mat-loading {
	position: absolute;
	right: 100px;
}

.mat-head-item {
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	font-family: Arial, sans-serif;
	color: #575757;
	white-space: nowrap;

	padding-left: 80px;
}
.mat-head-item svg {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 50px;
	height: 50px;
	fill: #555;
}
.mat-head-item:hover {
}
.mat-head-item.active {
	color: #0a63ae;
	background-color: white;
}
.mat-head-item.active:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	margin-top: -8px;
	border-width: 8px;
	border-color: transparent #eee transparent transparent;
	border-style: solid;
}
.mat-head-item.active svg {
	fill: #0A63AE;
}




.mat-group-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mat-group-wrap.hide-right {
	opacity: 0;

	-webkit-transform: translateX(30px);
	   -moz-transform: translateX(30px);
	    -ms-transform: translateX(30px);
	     -o-transform: translateX(30px);
	        transform: translateX(30px);
}
.mat-group-wrap.hide-left {
	opacity: 0;

	-webkit-transform: translateX(-30px);
	   -moz-transform: translateX(-30px);
	    -ms-transform: translateX(-30px);
	     -o-transform: translateX(-30px);
	        transform: translateX(-30px);
}
.mat-group-list {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
}
.mat-group {
	float: left;
	width: 128px;
	height: 140px;
	padding: 5px;
	border-left: 1px solid #eee;
	text-align: center;
	background-clip: content-box;
}
.mat-group.selected {
	background-color: #eee;
}
.mat-group .thumb {
	margin: auto;
	margin-top: 4px;
	width: 103px;
	height: 42px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.mat-group .title {
	margin-top: 4px;
	color: #555;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	/* white-space: nowrap; */
}
.mat-group .subtitle {
	height: 12px;
	color: #555;
	font-size: 1em;
	white-space: nowrap;
}


.mat-group.inactive .mat-item-list {
	visibility: hidden;
}
.mat-item-list {
	margin: auto;
	margin-top: 8px;
	min-width: 17px;
	max-width: 102px;
	border: 1px solid #333;
	border-width: 1px 0 0 1px;
}
.mat-item {
	position: relative;
	float: left;
	width: 17px;
	height: 17px;
	background-color: white;
	background-size: auto 300%;
	background-position: 46% center;
	border: 1px solid #333;
	border-width: 0 1px 1px 0;
	box-sizing: border-box;
}
.mat-item.selected,
.mat-item:hover {
	z-index: 1;
}
.mat-item.selected:after,
.mat-item:hover:after {
	content: "";
	position: absolute;
	left: -2px;
	top: -2px;
	width: 16px;
	height: 16px;
}
.no-touch .mat-item:hover:after {
	border: 2px solid white;
}
.mat-item.selected:after {
	border: 2px solid yellow;
}

.help-dialog .dialog-outer {
	width: 888px;
	height: 500px;
}
.help-dialog iframe {
	width: 100%;
	height: 100%;
}


.cart-dialog .dialog-outer {
	width: 950px;
	height: 600px;
}
.cart-results,
.cart-message {
	width: 100%;
	height: 100%;
}

.cart-table-view {
	width: 100%;
	height: 530px;
	padding: 30px 40px;
	box-sizing: border-box;

	font-size: 1.6em;
	overflow-y: auto;
}
.cart-table {
	display: table;
	width: 100%;
}
.cart-mat {
	display: table-row;
}
.cart-mat-field {
	display: table-cell;
	padding: 3px 8px;
	border-bottom: 1px solid #eee;
}
.cart-mat.ok .info {
	color: green;
}
.cart-mat.error .info,
.cart-mat.unknown .info {
	color: tomato;
}
.cart-link {
	float: right;
	padding: 10px 20px;
	font-size: 1.8em;
	background-color: #316BB3;
	border-radius: 4px;
	color: white;
	margin-right: 55px;
	text-decoration: none;
}
.cart-link:hover {
	background-color: #4685D4;
}

.cart-message-wrap {
	width: 600px;
	margin: auto;
	padding-top: 150px;
}
.cart-message-image {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 30px;
	vertical-align: middle;
}
.cart-message-image svg {
	width: 100%;
	height: 100%;
	fill: grey;
}
.cart-message-text {
	display: inline-block;
	font-size: 1.8em;
	vertical-align: middle;
}


.cuts-visible {

}
.cuts-visible:hover {

}
.cuts-visible.active {

}
.cuts-visible svg {
	width: 36px;
	height: 36px;
}
.cuts-visible.active svg {

}

.zoom-menu {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: auto;

	width: 120px;

	z-index: 1;
}
.zoom-menu-item {
	float: left;
	width: 36px;
	height: 36px;
	margin: 2px;
	background-color: white;

	line-height: 36px;
	font-size: 3.6em;
	text-align: center;
}
.zoom-menu-item svg {
	width: 24px;
	height: 24px;
	margin: 6px;
	fill: #0A63AE;
}

.zoom-menu-item:hover {
	background-color: #79ADEF;
}


.hello-dialog .dialog-outer {
	width: 570px;
	height: 320px;
}
.hello-menu {
	width: 100%;
	height: 100%;
}
.hello-menu-item {
	position: relative;
	float: left;
	width: 270px;
	height: 100%;
	margin-left: 10px;

	text-align: center;
	font-size: 1.6em;
	color: #333;

	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100%;
}
.hello-menu-item .block-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 24px 0;
}
.hello-menu-item:hover {
	color: #79ADEF;
}


.view-3d.mode-material .viewport {
	bottom: 170px;
}


.mobile-menu {
	// display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 278px;
	height: 100%;
	background-color: #0a63ae;
	border-right: 2px solid #0a63ae;
	z-index: 2;

	-webkit-transform: translateX(-280px);
	   -moz-transform: translateX(-280px);
	    -ms-transform: translateX(-280px);
	     -o-transform: translateX(-280px);
	        transform: translateX(-280px);
}
.touch .mobile-menu {
	display: block;
}
.mobile-menu.active {
	-webkit-transform: translateX(0px);
	   -moz-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	     -o-transform: translateX(0px);
	        transform: translateX(0px);
}
.mobile-menu-head {
	position: relative;
	width: 100%;
	height: 88px;
	background-color: white;
}
.mobile-menu-wrap {
	position: relative;
	overflow-y: auto;
}
.mobile-menu-body {

}
.mobile-menu-item {
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-top: 1px solid #3b82be;
	font-size: 1.7em;
	color: white;
	text-decoration: none;
}
.mobile-menu-logo {
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: 166px;
	background-position: 2% 44%;
}
.mobile-menu-close {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 90px;
	height: 90px;
}
.mobile-menu-close svg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	fill: #0a63ae;
}
.mobile-mode-menu {

}
.mobile-mode-menu-item {

}
.mobile-mode-menu-item.active {
	background-color: #3b82be;
}
.mobile-mode-menu-item:nth-child(1) {
	border-top: none;
}
.mobile-menu-item.tpl-new {
	border-top: none;
}

.mobile-menu-item-lang {
	position: relative;
}
.mobile-menu-item-lang svg {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 20px;
	height: 20px;
	fill: white;
}
.mobile-menu-item-lang .lang-next {
	position: absolute;
	right: 50px;
	left: auto;
	width: 50px;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 120%;
	color: #ccc;
}
.mobile-menu-item-help {
	padding-bottom: 60px;
}


.share-submenu-toggle {
	position: absolute;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 0;
}
.share-submenu {
}
.share-submenu-item {
	width: 350px;
	font-size: 1.4em;
	padding: 40px 30px;
	box-sizing: border-box;
	text-align: center;
}


.material-items-submenu-toggle {
	position: absolute;
	width: 0;
	height: 0;
}
.material-items-submenu {

}
.material-items-submenu-item {
	padding: 2px;
	border: 1px solid white;
	box-sizing: border-box;
}
.material-items-submenu-item:hover {
	background-color: white;
}
.material-items-submenu-item.active {
	background-color: white;
	border: 1px solid #a5a5a5;
}
.material-items-submenu-item-image {
	height: 46px;
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.material-items-submenu-item-label {
	height: 24px;
	text-align: center;
	line-height: 9px;
	vertical-align: middle;
}


.hint-disabled-zone {
	position: absolute;
	/*pointer-events: none;*/
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}


.guide {
	z-index: 3;
}

.guide-content {
	position: relative;
}

.guide-control {
	position: absolute;
	top: auto;
	bottom: 70px;
	width: 250px;
	height: 100px;
	background: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	z-index: 2;
}
.guide-control-head {
	height: 32px;
	line-height: 32px;
	color: white;
	background-color: #2b86d0;
}
.guide-control-label {
	font-size: 13px;
	padding: 0 12px;
	text-transform: uppercase;
}
.guide-control-body {
	height: 68px;
	padding: 7px 0;
	box-sizing: border-box;
}
.guide-button-close {
	float: right;
	width: 32px;
	height: 100%;
}
.guide-button-close svg {
	float: right;
	margin: 8px;
	width: 16px;
	height: 16px;
	fill: white;
}

.guide-control-body .guide-button {
	float: left;
	position: relative;
	height: 100%;
}
.guide-control-body .guide-button svg {
	width: 36px;
	height: 36px;
	fill: #b4b4b4;
}
.guide-control-body .guide-button.active svg {
	fill: #0764b1;
}
.guide-button-prev,
.guide-button-next {
	width: 60px;
}
.guide-button-prev svg {
	transform: scaleX(-1);
}
.guide-button-replay {
	width: 120px;
	border: 0 solid #e5e5e5;
	border-width: 0 1px;
}

.guide-message {
	padding: 20px;
	font-size: 18px;
	white-space: pre;
}

.guide-pointer {
	position: absolute;
	z-index: 3;
	pointer-events: none;
}

.guide .hint-disabled-zone {
	pointer-events: none;
}
.guide .tip {
	border-radius: 4px;
}

.ui.fullscreen .view-2d,
.ui.fullscreen .view-3d,
.ui.fullscreen .viewport {
	top: 0;
	bottom: 0;
}

.ui.fullscreen .footer,
.ui.fullscreen .watermark,
.ui.fullscreen .material-window,
.ui.fullscreen .tool-menu,
.ui.fullscreen .view-menu,
.ui.fullscreen .zoom-menu {
	visibility: hidden;
}
