.view-calc {
	background: white;
}
.view-calc .snapshot {
	display: none;
}

.view-calc .params {
	position: absolute;
	background-color: white;
	overflow: auto;
}
.view-calc .params-table {
	color: #111;
	width: 100%;
	max-width: 700px;
	margin: auto;
}
.view-calc .table-head {
	font-size: 1.7em;
	padding: 32px 4px 12px 12px;
}
.view-calc .table-break {
	padding-top: 18px;
	border-bottom: 1px solid #f0f0f0;
}
.view-calc .table-col {
	padding: 4px;
	font-size: 1.4em;
	white-space: nowrap;
	vertical-align: baseline;
}
.view-calc .table-col:nth-child(2),
.view-calc .table-col:nth-child(6) {
}
.view-calc .table-col:nth-child(3),
.view-calc .table-col:nth-child(7) {
	width: 40px;
	padding-right: 2px;
	text-align: right;
	color: #0a63ae;
}
.view-calc .table-col:nth-child(4),
.view-calc .table-col:nth-child(8) {
	width: 20px;
	padding-left: 2px;
}


.view-calc .result {
	position: absolute;
	background-color: white;
}

.view-calc .result-header {

}
.view-calc .result-label {
	float: left;
	font-size: 1.8em;
	line-height: 64px;
	padding-left: 40px;
}
.view-calc .result-message {
	font-size: 1.8em;
	line-height: 64px;
	padding-left: 40px;
}

.view-calc .action {
	float: right;
	position: relative;
	min-width: 48px;
	height: 48px;
	line-height: 46px;
	margin: 8px;
	border-radius: 24px;
	background-color: #0a63ae;
	color: white;
}
.view-calc .action .block-label {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
	font-size: 14px;
}
.view-calc .option-boolean {
	color: #0a63ae;
	background-color: transparent;
}
.view-calc .option-boolean .field {
	display: inline-block;
	vertical-align: middle;
	border-color: #0a63ae;
	background-color: transparent;
	margin-left: 8px;
}
.view-calc .option-boolean .field.active {
	background-color: #0a63ae;
}
.view-calc .option-boolean .block-label {
	padding: 0 8px;
}

.view-calc .action.eicon .block-label {
	padding-right: 48px;
}
.view-calc .action.disabled {
	background-color: #999;
	cursor: default;
}
.view-calc .action svg,
.view-calc .action .preloader {
	position: absolute;
	left: auto;
	top: 0;
	right: 12px;
	bottom: 0;
	margin: auto;
}
.view-calc .action svg {
	width: 24px;
	height: 24px;
	fill: white;
}

.view-calc .footer-col {
	text-align: center;
}
.view-calc .footer-row .action {
	display: inline-block;
	float: none;
}

.view-calc .action.cart .preloader {
	width: 28px;
	height: 28px;
	opacity: 0;
	visibility: hidden;
}
.view-calc .action.cart.loading .preloader {
	opacity: 1;
	visibility: inherit;
}
.view-calc .action.cart svg {
	width: 30px;
	height: 30px;

	opacity: 1;
	visibility: inherit;

	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.view-calc .action.cart.loading svg {
	opacity: 0;
	visibility: hidden;
}


.view-calc .result {
	border-left: 4px solid #f0f0f0;
	box-sizing: border-box;
}
.view-calc .result-view {
	background-repeat: no-repeat;
	background-position: center 40%;
	overflow-y: auto;
}
.view-calc .result-table {
	width: 100%;
}
.view-calc .result-head {
	width: 100%;
	background-color: #f0f0f0;
	padding-right: 15px;
}
.view-calc .result-head th {
	height: 42px;
	font-size: 1.2em;
	color: #aaa;
}
.view-calc .result-body td {
	height: 120px;
	vertical-align: middle;
	border-bottom: 1px solid #f0f0f0;
	padding: 4px;
}

.view-calc .result-thumb {
	text-align: center;
	width: 25%;
}
.view-calc .result-group {
	text-align: left;
	width: 25%;
}
.view-calc .result-name {
	text-align: left;
	width: 30%;
}
.view-calc .result-amount {
	text-align: center;
	width: 20%;
}

.view-calc .result-thumb {
}
.view-calc .result-thumb img {
	width: 100%;
	max-width: 220px;
	margin: auto;
}
.view-calc .result-thumb.absent img {
	max-width: 60px;
}
.view-calc .result-thumb svg {
	width: 120px;
	height: 120px;
	margin: auto;
	fill: #333;
}
.view-calc .result-logo {
	width: 64px;
	height: 32px;
	margin: 6px 0;
}
.view-calc .result-logo img {
	height: 100%;
}
.view-calc .result-title {
	text-transform: uppercase;
	font-size: 1.4em;
}
.view-calc .result-subtitle {
	font-size: 1.3em;
}
.view-calc .result-color {
	margin: 6px 0;
}
.view-calc .result-color .col-view {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	overflow: hidden;
}
.view-calc .result-color .col-view img {
	width: 500%;
	margin-left: -170%;
	margin-top: -100%;
}
.view-calc .result-color .col-name {
	font-size: 1.2em;
	line-height: 20px;
	white-space: nowrap;
}
.view-calc .result-name {
	font-size: 1.5em;
}
.view-calc .result-amount {
	width: 20%;
	font-size: 1.6em;
	color: #0a63ae;
}


@media print {
	.ui .menu.header,
	.ui .footer,
	.view-calc .view-3d,
	.view-calc .result-header {
		display: none !important;
	}
	.ui,
	.ui .viewport,
	.view-calc,
	.view-calc .params,
	.view-calc .result,
	.view-calc .result-view {
		position: static !important;
		width: 100% !important;
		height: auto !important;
		overflow: visible !important;
	}
	.view-calc .snapshot {
		display: block;
		position: static;
		width: 100% !important;
		height: auto !important;
	}
	.view-calc .result {
		margin-top: 40px;
	}
	.view-calc .result-row {
		page-break-inside: avoid;
	}
}
